@import "../node_modules/bootstrap/scss/functions";

$primary: #3c62ab;
$secondary: #ef877a;

$primary-color-light: #f7c3bc;

$shadow-color: #afa5b0;

$white: #ffffff;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
