$primary-color-dark: #9c36b5;
$primary-color-main: #cc5de8;
$primary-color-light: #eebefa;

$secondary-color-dark: #0c8599;
$secondary-color-main: #22b8cf;
$secondary-color-light: #99e9f2;

$gray-color-dark: #212529;
$gray-color-main: #dee2e6;
$gray-color-light: #f8f9fa;

$typography-color-heading: #152536;
$typography-color-body: #6c757d;

$shadow-color: #afa5b0;

$white: #ffffff;
